body {
    font-family: "Times New Roman", serif;
    color: #333;
    background-color: #f8f8f8;
    padding: 20px;
}
h1 {
    font-size: 32px;
    font-weight: bold;
    color: #222;
}

p {
    font-size: 18px;
    line-height: 1.6;
}
a {
    color: #673ab7;
    font-weight: bold;
    text-decoration: none;
    background-color: #ffeb3b;
    padding: 5px 10px;
    border-radius: 5px;

}
a:hover {
    color: #ff4081;
    text-decoration: underline;
    background-color: #ff9800;
}

img {
    border: 2px solid #ccc;
    border-radius: 5px;
}
