@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --color-primario:#000000;
    --color-secundario:#F6F6F6;
    --color-terciario: #22D4FD;
    --color-cuaternario:#E1FFBB;
    --color-hover:#272727;
    --color-border:#9acd32;

    --fuente-montserrat:'Montserrat', sans-serif;
    --fuente-Krona: 'Krona One', sans-serif;

  }
  
*{
    padding: 0;
    margin: 0;
}
body {
    background-color : var(--color-primario);
    /*height: 100vh;*/
    color: var(--color-secundario);
    box-sizing:border-box;

}

.header{
    padding:2%  0% 0% 15%;
  
}

.header__menu{
    display: flex;
    gap: 80px;
}

.header__menu__link{
    font-family: var(--fuente-montserrat);
    color:var(--color-terciario);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
  
}

.header__menu__link:hover {
    color: var(--color-hover);
}

.presentacion{
        display:flex;
        align-items: center;
       /*margin:10% 15%;*/
       padding: 6% 15%;
    justify-content: space-between;
    gap:82px;
}

.presentacion__contenido {
        width : 50%;
        display: flex;
        flex-direction: column;
        gap: 40px;
     }

.presentacion__contenido__titulo {
        font-size : 2rem;
        font-family: var(--fuente-Krona);
    }
    
.titulo-destaque {
    color : var(--color-terciario); 
}
.presentacion__contenido__texto {
        font-size : 1.5rem;
        font-family: var(--fuente-montserrat);
    }

 .presentacion__contenido__texto a{
        text-decoration: none;
        color: var(--color-terciario);
    }

 .name:hover{
    color:var(--color-hover);
    border:2px dotted var(--color-border);
 }   

 .presentacion__enlaces{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: center; /* Cuando se alinean columnas*/
    gap: 32px;

}

.presentacion__enlaces__subtitulo{
       font-family: var(--fuente-Krona);
       font-size : 1.5rem;
}
.presentacion__enlaces__link{
    width: 50%;
    text-align: center;
    padding:21.5px 0;
    border-radius:8px;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight:600;
    text-decoration: none;
    color: var(--color-secundario);
    border:2px solid var(--color-terciario);
    display: flex;
    justify-content: center; /*Cuando se alinean en filas */
    gap: 10px;
}
.presentacion__enlaces__link:hover{
    background-color:var(--color-cuaternario);
    color: var(--color-hover);
    border:6px double var(--color-hover);
    cursor:pointer;
}

.presentacion__imagen{
    width:50% ;
}
.footer{
    background-color: var(--color-terciario);
    color: var(--color-primario);
    padding:1.5rem;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    text-align: center;
    font-weight: 400;

}