@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

*{
    padding: 0;
    margin: 0;
}
.header{
    padding:2%  0% 0% 15%;
  
}

.header__menu{
    display: flex;
    gap: 80px;
}

.header__menu__link{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color:#22D4FD;
    text-decoration: none;
  
}

.header__menu__link:hover {
    color: #007bff;
}

body {
    background-color : #000000;
    /*height: 100vh;*/
    color: #F6F6F6;
    box-sizing:border-box;


.presentacion{
        display:flex;
        align-items: center;
       /*margin:10% 15%;*/
       padding: 6% 15%;
    justify-content: space-between;
}

.presentacion__contenido {
        width : 615px;
        display: flex;
        flex-direction: column;
        gap: 40px;
     }

.presentacion__contenido__titulo {
        font-size : 36px;
        font-family: 'Krona One', sans-serif;
    }
    
}

.titulo-destaque {
    color : #22D4FD; 
}
.presentacion__contenido__texto {
        font-size : 24px;
        font-family: 'Montserrat', sans-serif;
    }

 .name:hover{
    color:#d870c1;
    border:2px dotted #9acd32;
 }   

 .presentacion__enlaces{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: center; /* Cuando se alinean columnas*/
    gap: 32px;

}

.presentacion__enlaces__subtitulo{
       font-family: 'Krona One', sans-serif;
       font-size : 24px;
}
.presentacion__enlaces__link{
    width: 378px;
    text-align: center;
    padding:21.5px 0;
    border-radius:8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight:600;
    text-decoration: none;
    color: #F6F6F6;
    border:2px solid #22D4FD;
    display: flex;
    justify-content: center; /*Cuando se alinean en filas */
    gap: 10px;
}
.presentacion__enlaces__link:hover{
    background-color: #272727;
    color: #d80cac;
    border:6px double #d80cac;
    cursor: pointer;
}
.footer{
    background-color: #22D4FD;
    color:#000000;
    padding:24px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-align: center;
    font-weight: 400;

}